@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.animate-bounce-slow {
  animation: bounce-slow 2.5s ease-in-out infinite;
}
